@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    /*background-color: #0d130e;*/
    background-color: black;

	/* Make it so you can't select everything */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* default font */
	font-family: Roboto;
	font-weight: 500;
}

/*-------------------------------------------------------------------------------------------------/
  RECEPTIONIST
------------------------------------------------------------------------------------------------*/

receptionist_space {
	position: absolute;
	bottom: 45%;
	left: 22%;

	height: 30%;
	max-height: 256px;

	animation: anim_recep_slidein 0.5s
}


@media screen and (max-width: 1400px) {
	receptionist_space {
		left: 12% !important;
	}

	@media screen and (max-width: 800px) {
		receptionist_space {
			left: 5% !important;
		}
	}
}


anim_receptionist {
	position: relative;
	top: 0px;

	animation-duration: 1.75s;
	animation-name: anim_recep_float;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes anim_recep_float {
	from {
		top: 0px;
	} to {
		top: 12px;
	}
}

@keyframes anim_recep_slidein {
	from {
		bottom: 80%;
	} to {
		bottom: 45%;
	}
}

#img_receptionist {
    height: 100%;
	max-height: 256px;
	width: auto;

	padding-bottom: 10%;
	padding-left: 20%;
}

.recep_table {
	position: absolute;
	bottom: -10%;
	left: 0px;
	
    height: 25%;
	max-height: 64px;
	width: auto;
}

#recep_hitbox {
	position: absolute;
    width: 60%;
    height: 60%;

	top: 40%;
	left: 40%;
}

/*-------------------------------------------------------------------------------------------------/
  DIALOGUE BOX
------------------------------------------------------------------------------------------------*/

#diabox {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh; /*20px;*/
	border-image-outset: 32px;

	position: absolute;
	bottom: 10%;
	left: 10%;

	height: 20%;
	width: 50%;

	animation: anim_dbox_slidein 0.5s
}

@media screen and (max-width: 800px) {
	#diabox {
		width: 60%;
	}
}

#dialogue {
	position: relative;
	font-size: 3.25vh;
	font-family: Roboto;
	font-weight: 400;

	overflow: hidden;
}

/*Animation class to start the animation */
.d_animate {
	white-space: nowrap;
	animation: anim_typeout 1s steps(100, end);
}

/* anim class for NO animation */
.d_noanim {
	white-space: nowrap;
	width: 0%;
	/* height: 0%; */
}

/* Anim for gradually typing out or dialogue */
@keyframes anim_typeout {
	0% {
		width: 0%;
		white-space: nowrap;
		/* height: 30%; */
	}
	50% {
		width: 100%;
		/* height: 30%; */
	}
	100% {
		white-space: normal;
		width: 100%;
		/* height: 100%; */
	}
}

@keyframes anim_dbox_slidein {
	from {
		left: -80%;
	} to {
		left: 10%;
	}
}

/*-------------------------------------------------------------------------------------------------/
  NAV BAR STUFF
------------------------------------------------------------------------------------------------*/

navbar-wrapper {
	transition-duration: 0.11s;
	transition-timing-function: ease;

	position: fixed;
	right: 0%;
	top: 10%;
	width: 40vh;

	height: 70%;
	/*overflow: hidden;*/
}

.navbar_wrapper_nohome {
	right: clamp(-16vh, 3%, -160px);
}

navbar-opt {
    transition-duration: 0.11s;
    transition-timing-function: ease;

	position: relative;
	left: 10%;
    animation-duration: 0.25s;
    animation-name: anim_navopt_slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

navbar-opt:hover {
    left: 0%;
}

@media screen and (max-width: 800px) {
	navbar-wrapper {
		left: 74% !important;
		right: 0px !important;
	}
	.navbar_wrapper_nohome {
		left: 74% !important;
		right: 0px !important;
	}
}

navbar-opt img {
    height: 20%;
	max-height: 120px;
	width: auto;

	padding-bottom: 0%;
}

.navopt_s {
	left: 0% !important;
}


/* ANimation for sliding in the navlist */
@keyframes anim_navopt_slidein {
    from {
        left: 20%;
    } to {
        left: 10%;
    }
}

/*-------------------------------------------------------------------------------------------------/
  GAME PAGE STUFF
------------------------------------------------------------------------------------------------*/

#dither_bg {
	z-index: -1;
	position:fixed;
	bottom: 0%;
	left: 0px;
	width: 100%;
	height: 64vh;
	max-height: 448px;
	
	background-image: url("img/bg_dither.png");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: contain;

	animation: anim_ditherbg_slidein 0.6s
}


@keyframes anim_ditherbg_slidein {
	from {
		bottom: -100%;
	} to {
		bottom: 0%;
	}
}

#page-wrapper {
	margin-top: 2%;
	margin-left: 8%;
	width: 65%;

	animation: anim_wrapper_slidein 0.6s

	/* hide scrollbar
	-ms-overflow-style: none; 
	scrollbar-width: none;
	overflow-y: scroll;
	position: absolute;
	height: 95%;
	*/

	/* scrollbar 
	height: 95%;	
	position: absolute;
	overflow-y: scroll;
	*/
}

/*
#page-wrapper::-webkit-scrollbar {
	display: none;
}
*/

@keyframes anim_wrapper_slidein {
	from {
		margin-left: -100%;
	} to {
		margin-left: 8%;
	}
}

.infobar_toptxt {
	color: white;
	font-size: 32px;
	font-family: Roboto;
	position: relative;
	font-weight: bold;

	border-bottom-color: white;
	border-bottom-width: 1vh / 1.75;
	border-bottom-style: solid;

	width: 100%;
	position: relative;
}

.game_list {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.game_box {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh;
	border-image-outset: 10px;

	max-width: 256px;
	width: 25%;
	min-width: 22vh;
	height: 34vh;

	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	margin-bottom: 6%;

	background-color: brown;
}

.game_box_image {
	height: 90%;

	position: relative;
	margin: 2%;

	overflow: hidden;

	display: flex;
	justify-content: center;
}

.game_box_image img {
	transition-duration: 0.1s;
	transition-timing-function: ease;
	height: 36vh;
	width: auto;
}


.game_box_image:hover img {
	filter: blur(2px) grayscale(60%);
	-webkit-filter: blur(2px) grayscale(60%); /* Safari 6.0 - 9.0 */

	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.game_namebox {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh;
	border-image-outset: 10px;

	padding-top: 2%;
	padding-bottom: 2%;

	width: 100%;
	height: 40px;

	position: relative;
	bottom: 0px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	color: white;
	font-size: large;
	text-align: center;
	font-family: Roboto;
	text-wrap: pretty;

	background-color: brown;
}

.game_catbox {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh;
	border-image-outset: 10px;

	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;

	margin-bottom: 5%;

	

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	color: white;
	font-size: 2vh;
	text-align: center;
	text-wrap: pretty;

	background-color: brown;
}

.game_linkbox {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.game_link {
	background-color: #000000a0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-right: 5%;
	padding-left: 1%;

	font-size: 3vh;
	font-family: Roboto;
	text-shadow: 2px 2px 12px black;
}

/*-------------------------------------------------------------------------------------------------/
  CONTACT PAGE STUFF
------------------------------------------------------------------------------------------------*/

.contact_header {
	position: relative;

	height: 16vh;
	max-height: 120px;

	border-bottom-width: 1vh;
	border-color: white;
	border-bottom-style: solid;

	color: white;
}

.contact_header img {
	height: 100%;

	position: absolute;
	left: 0px;
	top: 53%;
}

.contact_header text {
	position: absolute;
	font-size: 3vh;

	top: 60%;
	left: min(12vh, 120px);
}

.hyperbut {
	text-decoration: none;
}

.hyperbut img {
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	margin-top: 10%;
	margin-right: 2%;
	bottom: 0px;

	position: relative;
	height: 16vh;
	max-height: 128px;
}

.hyperbut:hover img {
	bottom: 4%;
}

.contact_header_bottomtxt {
	position: relative;
	left: 16vh;
	top: 4vh;

	font-size: 2.5vh;

	margin-bottom: 6vh;

	color: white;
}

/*-------------------------------------------------------------------------------------------------/
  ABOUT PAGE STUFF
------------------------------------------------------------------------------------------------*/

@keyframes anim_portrait_slidein {
	from {
		top: -1000px;
	}
	to {
		top: 0px;
	}
}

.portrait {
	position: relative;
	animation: anim_portrait_slidein 0.6s
}

.portrait img {
	height: 16vh;
	width: auto;
}

.portrait_text {
	position: absolute;

	left: 18vh;
	top: 2vh;

	font-size: 2vh;
	font-family: monospace;
	text-align: justify;
	font-weight: 600;
}

.about_job_box {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh;
	border-image-outset: 10px;

	margin-bottom: 2%;

	height: 8vh;

	position: relative;

	display: flex;
	flex-wrap: wrap;

	color: white;
	font-size: 2vh;
	text-align: center;
	text-wrap: pretty;

	background-color: brown;
}

.job_companybox {
	background-color: white;

	width: 32vh;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 25px;
	color: black;
}

.job_infobox {
	padding-left: 2%;
	height: 100%;

	text-align: left;

}

#job_infobox_title {
	margin-top: 10px;
	font-size: 25px;
	font-family: Roboto;
}

#job_infobox_info {
	margin-top: 2px;
	color: gray;
}


.job_datebox {
	text-align: justify;

	position: absolute;
	right: 0.5%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 15vh;
	height: 100%;
}

#job_datestart {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid white;
	padding-bottom: 4%;
}

#job_dateend {
	display: flex;
	justify-content: space-between;
	padding-top: 4%;
}

.skill_box {
	/* nineslice */
	border-image: url(img/dbox_nineslice.png) 20 fill repeat;
	border-image-width: 2vh;
	border-image-outset: 10px;

	width: 46%;
	min-width: 22vh;

	margin-top: 4%;
	margin-bottom: 4%;
	padding-bottom: 1.5%;

	background-color: brown;

	overflow: hidden;
}

#skill_box_title {
	background-color: white;
	width: 100%;
	height: 6vh;

	font-size: 24px;

	display: flex;
	align-items: center;
	padding-left: 3%;

	color: black;
}

.skill_box li {
	color: white;
	margin-left: 5%;
	margin-top: 2%;

}

/*-------------------------------------------------------------------------------------------------/
  ART PAGE STUFF
------------------------------------------------------------------------------------------------*/

.art_box {
	background-color: black;
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.art_box_column {
	-ms-flex: 20%; /* IE10 */
	flex: 20%;
	max-width: 40%;
	padding: 0 4px;
}

.art_box img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;

	transition-duration: 0.1s;
	transition-timing-function: ease;
}

.art_box img:hover {

	box-shadow: 0px 0px 20px black;

	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}